<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>
  <%= button_to "Edit this article", edit_article_path(article)%> 
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
