<p style="color: green"><%= notice %></p>

<h1>
  Article
  <span id="article_counter">
    <%= Article.count %>
  </span>
</h1>

<div id="new_article">
  <%= render partial: 'articles/form', locals: { article: Article.new } %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
